*{
  padding:0;
  margin:0;
}
.navbar {
  display:flex;
  align-items: center;
  background-color: rgb(1,21,2);
  font-family: Arial, Helvetica, sans-serif;
  height: 52px;
}
ul {
  display:flex;
  align-items: center;
  margin: 30px;
  gap: 1.2rem;
  list-style: none;
}
.link {
  text-decoration: underline;
  color: rgb(158,197,171);
  font-size: 18px;
  padding: 0.5rem;
  position: relative;
}
.link::before {
  content:none;
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: rgb(1,21,2);
  border-radius: 5px;
  transform:scaleX(0);
  transition: all 0.6s ease;
}
.nav-search {
  display:flex;
  background-color: rgb(50,116,109);
  width:600px;
  height:40px;
  border-radius: 5px;
}
.search-select {
  background-color: aliceblue;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border:none;
}
.search-input {
  width: 500px;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width:45px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-more {
  width:39px;
  color: rgb(158,197,171);
  display:flex;
  justify-content: center;
  align-items: center;
}
#nav {
    height: 510px;
    width: 100%;
    background-size: cover;
    background-image: url(https://www.joinus4education.in/images/sies.jpg);
}
#nav-items {
   height: 500px;
   font-size: 20px;
   color: rgb(158,197,171);
   display:flex;
   flex-direction: column;
   justify-content: flex-end;
   text-align: center;
   align-items: center;
   background-color : rgba(0,0,0,0.5);
   border:5px double rgb(158,197,171);
}

main{
  background-color: rgb(1,21,2);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:stretch;
}
.content-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sub {
  font-size: 40px;
  color:rgb(17, 79, 85);
  font-weight: bolder;
  text-decoration:underline;
}
.sub2 {
  font-size: 35px;
  color: rgb(50,116,109);
  font-weight: bold;
}
.sum {
  font-size: 30px;
  color: rgb(158,197,171);
}
.sum2 {
  font-size: 27px;
  color: rgb(227, 248, 234);
}
footer {
  height: 180px;
  background-color:	rgb(158,197,171);
  border:6px double  rgb(50,116,109);
   
}
.foot {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.content-info {
  table,th,td{
    border: 2px solid rgb(158,197,171);
  }
  th {
    color: rgb(158,197,171);
    background-color: rgb(17, 79, 85);
    font-size: 35px;
  }
  td {
    color: rgb(227, 248, 234);
    background-color: rgb(50,116,109);
    font-size: 30px;
  }
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.info-image {
  border: 5px solid rgb(50,116,109);
  border-radius: 25%;
}
#foot {
  padding: 5px;
}
ul.a {
  list-style-type:circle;
}
#foot2 {
  text-align: center;
  padding-left: 15px;
}
ol {
  height:90px;
  border-radius: 19px;
}
.form {
  height: 25px;
  border-radius: 4px;;
}
.form2 {
  height: 28px;
  border-radius: 9px;
  border: 3px double darkred;
}